div {
    background: moccasin;
}

button {
    margin: 0.3em;
}

#login, #token, #tester{
    border: 1px dashed darkgoldenrod;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    display: inline-block;
    padding: 0.7em;
    margin: 0.7em;
    vertical-align: top;
}

#login h1, #token  h1, #error h1, #tester h1 {
    font-size: 125%;
}

#error {
    display: none;
    border: 1px dashed red;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    position: relative;
    margin: 1em auto;
    max-width: 900px;
    padding: 0.7em;
}

h1 {
    margin: 0.5em auto;
}

#error h1 {
    color: darkred;
}

#errorClose {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

h2 {
    font-size: 115%;
}

textarea {
    height: 200px;
    min-width: 250px;
    width: 400px;
}