body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    text-align: left;
    margin: 1em auto;
    border: 1px dashed gray;
    background: floralwhite;
    display: inline-block;
}

section {
}

div {
    background: moccasin;
}

button {
    margin: 0.3em;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 115%;
}

textarea {
    height: 180px;
    min-width: 250px;
    width: 400px;
}

#login, #token, #tester {
    border: 1px dashed darkgoldenrod;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    display: inline-block;
    padding: 0.7em;
    margin: 0.7em;
    vertical-align: top;
    min-height: 31em;
}

#login h1, #token  h1, #error h1, #tester h1 {
    font-size: 125%;
}

#error {
    display: none;
    border: 1px dashed red;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    position: relative;
    margin: 1em auto;
    max-width: 900px;
    padding: 0.7em;
}

#error h1 {
    color: darkred;
}

#errorClose {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}